@model OutraClinica.Models.Consulta

@{
    Layout = null;
    ViewBag.Title = "Excluir";
}

<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm())
        {

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ConsultaID)

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <strong style="color:red;"><h4 class="modal-title">Deseja realmente excluir a consulta?</h4></strong>
            </div>

            @Html.AntiForgeryToken()

            <div class="modal-body">
                <div class="form-group" style="text-align:center;">

                    <p><h4><strong>ID</strong>: @Html.DisplayFor(model => model.ConsultaID)</h4></p>
                    <p><h4><strong>Paciente</strong>: @Html.DisplayFor(model => model.Paciente.nome)</h4></p>
                    <p><h4><strong>Medico</strong>: @Html.DisplayFor(model => model.Medico.Nome)</h4></p>
                </div>
            </div>
            <div class="form-group" style="text-align:center;">
               
                    <input type="submit" value="Excluir" class="btn btn-success" />
                    <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
                             

            </div>
        }
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->